<a href='./betterlockscreen-4.4.0-1-any.pkg.tar.xz'>betterlockscreen-4.4.0-1-any.pkg.tar.xz</a><br>
<a href='./catppuccin-gtk-theme-mocha-1.0.3-1-any.pkg.tar.xz'>catppuccin-gtk-theme-mocha-1.0.3-1-any.pkg.tar.xz</a><br>
<a href='./coolercontrol-1.4.5-1-x86_64.pkg.tar.xz'>coolercontrol-1.4.5-1-x86_64.pkg.tar.xz</a><br>
<a href='./jarylchng.db'>jarylchng.db</a><br>
<a href='./jarylchng.db.tar.gz'>jarylchng.db.tar.gz</a><br>
<a href='./jarylchng.files'>jarylchng.files</a><br>
<a href='./jarylchng.files.tar.gz'>jarylchng.files.tar.gz</a><br>
<a href='./mergerfs-2.40.2-1-x86_64.pkg.tar.xz'>mergerfs-2.40.2-1-x86_64.pkg.tar.xz</a><br>
<a href='./mongodb-tools-1:100.11.0-2-x86_64.pkg.tar.xz'>mongodb-tools-1:100.11.0-2-x86_64.pkg.tar.xz</a><br>
<a href='./paru-2.0.4-1-x86_64.pkg.tar.xz'>paru-2.0.4-1-x86_64.pkg.tar.xz</a><br>
<a href='./prezto-git-r2048.6e564503-1-any.pkg.tar.xz'>prezto-git-r2048.6e564503-1-any.pkg.tar.xz</a><br>
<a href='./python-pystray-0.19.5-4-any.pkg.tar.xz'>python-pystray-0.19.5-4-any.pkg.tar.xz</a><br>
<a href='./robots.txt'>robots.txt</a><br>
<a href='./rofi-lbonn-wayland-git-1.7.8.wayland1.r23.g3bec3fac-1-x86_64.pkg.tar.xz'>rofi-lbonn-wayland-git-1.7.8.wayland1.r23.g3bec3fac-1-x86_64.pkg.tar.xz</a><br>
<a href='./sunshine-2025.122.141614-3-x86_64.pkg.tar.xz'>sunshine-2025.122.141614-3-x86_64.pkg.tar.xz</a><br>
<a href='./wdisplays-1.1.1-1-x86_64.pkg.tar.xz'>wdisplays-1.1.1-1-x86_64.pkg.tar.xz</a><br>
